/* Home */
.HomeImg {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* width: 100vw; */
    height: 600px;
}
.head{
    color: rgb(248, 1, 1);
  font-size: 8vh;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  display: flex;
  margin-left: 140px;
  margin-top: 16em;
  /* justify-content: center; */
  /* align-items: center; */
  height: 100%;
}

.moving-cards-wrapper {
  position: absolute;
  width:83em;
  padding: 10px 0;
  margin-bottom: 40px;
}

